.progress {
  overflow: hidden;
  white-space: nowrap;
  animation: progress 1.5s linear infinite;
}

.progress__inner {
  font-size: 1.8rem;
  font-weight: 700;
}

@keyframes progress {
  0% {
    color: rgb(175, 75, 75);
    width: 0;
  }
  30% {
    color: rgb(200, 150, 25);
    width: 20%;
  }
  45% {
    color: rgb(200, 175, 50);
    width: 40%;
  }
  60% {
    color: rgb(175, 175, 75);
    width: 60%;
  }
  75% {
    color: rgb(150, 175, 75);
    width: 75%;
  }
  100% {
    color: rgb(125, 175, 75);
    width: 100%;
  }
}
